@model DiabsolutTestProject.ViewModels.ServerInfoViewModel
@{
    ViewData["Title"] = "About";
}

<body ng-app="personApp">
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>
    <h2>Server Name: @Model.Name</h2>
    <h3>Software: @Model.Software</h3>
    <p>Use this area to provide additional information.</p>

    <button id="listButton" class="btn-success">List Processes</button>
    <ul id="processList" class="list-group"></ul>

    <div ng-init="personName='John Doe'">
        <input ng-model="personName" />
        <br />Person's name is : {{personName}} <br />
        Simple JavaScript Calculation of 1+2 : {{1+2}}
    </div>

    <div ng-init="firstName='Joh321321n'; lastName='Doe';">
        <strong>First name:</strong> {{firstName}} <br />
        <strong>Last name:</strong> <span ng-bind="lastName" />
    </div>


    <h1>PERSONS</h1>
    <div ng-controller="personController">
        <div class="table-responsive">
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th class="success">ID</th>
                        <th class="success">FirstName</th>
                        <th class="success">LastName</th>
                    <tr>
                </thead>
                <tbody ng-repeat="person in persons">
                    <tr>
                        <td>{{person.Id}}</td>
                        <td>{{person.FirstName}}</td>
                        <td>{{person.LastName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>


        <div ng-controller="personController">
            <strong>Name:</strong> {{name}} <br />
            <strong>Missing Property (age):</strong> {{age}}
            <div class="table-responsive">
                <table class='table table-striped'>
                    <thead>
                        <tr>
                            <th class="success">Processes</th>
                        <tr>
                    </thead>
                    <tbody ng-repeat="product in yo">
                        <tr>
                            <td>{{product.Name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


</body>
<script src="~/lib/angular/angular.js"></script>
<script src="~/js/PersonController.js"></script>
